#body{
	font-family: Calibri;
	margin: 0 auto;
}

/*--------------------*/
/* NETWORK */
/*--------------------*/
.networkBar{
	height:4rem; 
	background-color: black;
	padding:none;
	margin:none;
}

.networkBar a{	
	color:white ;
}

.networkBarElement a:hover{	
	text-decoration: none;
	border-bottom: 2px solid white;

}

.networkBarElement{
	float: left;
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.3rem;

}

.networkBarAnchor:hover,
.networkBarAnchor:visited{
	color: white;
	text-decoration: none;
}

/*--------------------*/
/* POPUP */
/*--------------------*/

.backgroundOverlay{
	background: rgba(0,0,0,0.8);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    z-index: 4 ;
}

.popup{
    padding: 3rem;
	border: solid 0.05rem grey;
	height: 35rem;
	width: 70rem;
    background-color: black;
 	margin: 0 auto;
 	margin-top: 10rem;
    z-index: 5 ;
}

.connexionformulaire p {
    text-align: center;
}


.connexionh2
{
    font-weight: bold;
    font-size : 35px;
    text-align : center;
}

.connexionchamp
{
    background-color: black;
    color: grey;
    border: 1px grey solid;
    font-size: 15px;
    padding-left:10px;
}

/*.btn
{
    color: black;
    font-weight: bold;
    background: rgb(225,0,16);

}
*/

/*--------------------*/
/* HEADER */
/*--------------------*/

.header-container{	
	position: relative;
	top: 0;
}

.header-container>img{
	width: 100%;
	height: auto;
	filter: brightness(60%);
	-webkit-filter: brightness(50%);
	z-index: 1;

}

.header-text {
	position: absolute;
	top: 2vw;
	z-index: 2;
	text-align: center;
	width: 100%;
}

.header-text h1 {
	font-size: 4.3vw;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-family:"Calibri";
}

.header-btn-area {
	position: absolute;
	z-index:2;
	top: 20vw;
	width: 100%;
	text-align: center;
}
.header-btn-area a {
	margin: 0% 1.5%;
}
.header-btn{
	border: 2px solid #fff;
	border-radius: 2px;
	color: #fff;	
	font-size: 1.2vw;	
	font-weight: bold;
	font-family: 'Calibri';
	text-transform: uppercase;
	padding: 1.4% 1.76%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.header-btn:hover,
.header-btn:focus{
	background-color: #1BB4B4;
	border-color: #1BB4B4;
	color: #fff;
	text-decoration: none;
	outline: none;
}

/*--------------------*/
/* NAVBAR */
/*--------------------*/

#nav{
	position: sticky;
	z-index: 10;
	padding-bottom: 0px;
	min-height: 0px;
	width: 100%;
	margin: 0 auto;
	top: 0px;
	border: #f8f8f8;
    box-shadow: 1vw 0px 1vw black;
}

nav ul{
	list-style-type: none;
	padding-left: 0;
	position: relative;/**/
	margin: 0 ;
}

nav ul li{
	float: left;
	width: 16.6%; /*Diviser 100 par nombre d'onglets visibles"*/
	text-align: center;
	position: relative;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 0.9vw;
	text-transform: uppercase;
	font-family: Calibri;
	font-weight: bold;
	padding: 1vw 1vw;
	border-bottom: 3px solid transparent;
}

nav a:hover{
	color: #1BB4B4;
	text-decoration: none;
	border-bottom: 3px solid #1BB4B4;

	/*background-color: #1BB4B4;
	color: white;
	text-decoration: none;*/
}

.dropdown-content{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: #F8F8F8;
	position: absolute;
	width: 100%;
	z-index: 99999;
}

nav > ul li:hover .dropdown-content{
	display: block;
}

.dropdown-content li{

	width: 100%;	
	float: none;
	text-align: left;
	position: relative;
	z-index: 99999;
}

.dropdown-content a{
	padding: 0.5vw;
	border-bottom: none;
	text-transform: none;
}

.dropdown-content a:hover{
	border-bottom: none;
	background-color: rgba(200,200,200,0.1);
}

.dropdown > a::after{
	content:" ▼";
	font-size: 0.76vw;
}

.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}

nav a.active{
	background-color: #1BB4B4;
	color: white;
	text-decoration: none;
	/* AUTRE STYLE : 
	border-bottom: 3px solid #1BB4B4;
	color: #1BB4B4;
	text-decoration: non;*/
}

/*
.search-area {
	display: inline-block;
	float: right;
	height: 60px;
	padding: 0;
	position: relative;
	width: 5%;
}
.search-area input[type="text"] {
	height: 100%;
	font-size: 20px;
	display: inline-block;  
	font-weight: 100;
	border: none;
	outline: none;
	line-height: 20px;
	color: #555;
	padding: 3px 60px 0px 3px;  
	width: 0px;
	position: absolute;
	top: 11%;
	right: 0;
	background: none;
	z-index: 3;
	-webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	cursor: pointer;
}
.search-area input[type="text"]:focus {
	width: 880px;
	z-index: 1;
	background-color: #fff;
	cursor: text;
}
.search-area input[type="submit"] {
	background-image: url("assets/img/search-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	border: medium none;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 35px;
	outline: medium none;
	position: absolute;
	right: 0;
	text-indent: -10000px;
	top: 53%;
	-webkit-transition: opacity 0.4s ease 0s;
	      transition: opacity 0.4s ease 0s;
	width: 45px;
	z-index: 2;
}
.search-area input[type="submit"]:hover {
  opacity: 0.8;
}*/

/*--------------------*/
/* CONTENT */
/*--------------------*/


.title-area {
	display: inline;
	float: left;
	padding: 2vw 2vw;
	position: relative;
	text-align: center;
	width: 100%;
	margin-bottom: 0.176vw
}
.title {
	color: black;
	font-size: 3.5vw;
	margin-bottom: 0;
	padding-bottom: 0.3vw;
	text-align: center;
}
.title-line {
	background-color: black;
	display: inline-block;
	height: 0.176vw;
	margin-bottom: 0.3vw;
	width: 22vw;
}

.bg1{
	background-color: #f8f5ef;
	width: 100%;
}

.bg2{
	background-color: #EBFFFF;
	width: 100%;
}

#content{
	padding: 1.76vw;
	background-color: #f8f5ef;
}

.text{
	font-size: 1.3vw;
	text-align: justify;
	margin-bottom: 1.1vw;
}

.list{
	list-style-type: circle;
	font-size: 1.3vw;
	text-align: justify;
	margin-bottom: 1.1vw;
}

.list li{
	margin-bottom: 0.5vw;
}

/*--------------------*/
/* CAROUSSEL */
/*--------------------*/

.carousel-inner img{
	width:100%;
}

#myCarousel{
	margin-bottom: 15vw;
	padding-top: 30vw;
	padding: 2vw;
	position: relative;
	float: left;
}

.carousel-control{
	top: 4vw;
	margin: 2vw; /*Mettre le même que le padding du #myCarousel*/
}




/*--------------------*/
/* FOOTER */
/*--------------------*/

.footerli {
	text-align: center;


}

.footera,
.footera:hover, 
.footera:visited {
	color:black;+
	text-decoration: none;
}